{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width">
    <title>Юргазэнерго</title>

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/menu_style.css" %}">
    <link rel="stylesheet" href="{% static "css/buro_style.css" %}">
</head>

<body>
    <div class="menu">

        <img class="logo" src="{% static "images/logo.png" %}" alt="">

        <ul class="list">
            <li>
                <a class="list__item " href="{% url "index" %}">Главная</a>
            </li>
            <li>
                <a class="list__item" href="{% url "praktika_page" %}">Практика</a>
            </li>
            <li>
                <a class="list__item active" href="{% url "buro_page" %}">Наше бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "team_page" %}">Команда</a>
            </li>
            <li>
                <a class="list__item " href="{% url "news_page" %}">Новости Бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "contact_page" %}">Контакты</a>
            </li>
        </ul>

        <div class="menu__adres">
            <p> +7 (985) 784-96-72 <br>
                +7 (495) 363-19-48<br>
                info@urgazenergo.com<br>
                г. Москва ул. Садовая-Спасская,<br>
                д. 19/1, офис 3</p>
        </div>

        <p class="ooo">© АБ «Юргазэнерго», 2020</p>
    </div>

  <div class="burger">
            <div class="burger__inner">
                <div class="burger__item"></div>
                <div class="burger__item"></div>
                <div class="burger__item"></div>
            </div>
        </div>

    <section>
        <div class="header">
            <h1 class="title">
                Наше Бюро
            </h1>

            <p class="subtitle">
                Направления деятельности,<br>
                в которых мы имеем практические результаты:
            </p>

            <div class="header__list">
                <ul>
                    <li class="header__list__item">Корпоративных спорах</li>
                    <li class="header__list__item">Спорах хозяйствующих субъектов<br>
                        с контролирующими органами</li>
                    <li class="header__list__item">Спорах в области банкротства<br>
                        юридических лиц</li>
                </ul>

                <ul>
                    <li class="header__list__item">
                        Спорах из договорных отношений</li>
                    <li class="header__list__item">Защите от привлечения<br>
                        к ответственности членов органов<br>
                        управления акционерных обществ</li>
                    <li class="header__list__item">Спорах в области интеллектуальной<br>
                        собственности и в войнах за активы</li>
                </ul>
            </div>
        </div>

        <div class="numbers">
            <h1 class="title">ЮРГАЗЭНЕРГО<br>
                в цифрах за 2019 год</h1>

            <div class="numbers__items">
                <div class="number__item">
                    <h1>75</h1>
                    <p> Завершили<br>
                        более 75<br>
                        судебных проектов</p>

                </div>
                <div class="number__item">
                    <h1>800</h1>
                    <p> Защитили<br>
                        имущественные права<br>Доверителей общей<br>
                        стоимостью более 800<br>
                        миллионов рублей</p>
                </div>
                <div class="number__item">
                    <h1>91,5</h1>
                    <p> Пришли<br>
                        к нужному результату<br>
                        в 91,5 % случаев</p>
                </div>
                <div class="number__item">
                    <h1>3</h1>
                    <p> Провели<br>
                        непосредственно<br>
                        в зале суда суммарно<br>
                        более 3 месяцев<br>
                        рабочего времени</p>
                </div>
            </div>
        </div>

        <div class="offers">
            <h1 class="title">
                Что мы предлагаем
            </h1>

            <div class="offers__item">
                <div class="offer">
                    <img class="offer__img" src="{% static "images/offer_1.png" %}" alt="">
                    <p class="offer__text">
                        Защита деловой<br>
                        репутации
                    </p>
                </div>

                <div class="offer">
                    <img class="offer__img" src="{% static "images/offer_2.png" %}" alt="">
                    <p class="offer__text">
                        Банкротство<br>
                        организаций
                    </p>
                </div>

                <div class="offer">
                    <img class="offer__img" src="{% static "images/offer_3.png" %}" alt="">
                    <p class="offer__text">
                        Защита<br>
                        интеллектуальных<br>
                        и авторских прав
                    </p>
                </div>
            </div>

            <div class="offers__item">
                <div class="offer">
                    <img class="offer__img" src="{% static "images/offer_4.png" %}" alt="">
                    <p class="offer__text">
                        Управление<br>
                        проблемными активами,<br>
                        судебные войны
                    </p>
                </div>

                <div class="offer">
                    <img class="offer__img" src="{% static "images/offer_5.png" %}" alt="">
                    <p class="offer__text">
                        Cудебное представительство<br>
                        в сложных судебных проектах<br>
                        и коммерческих спорах
                    </p>
                    <p class="offer__text offer__subtext">
                        (строительство, подряд, исполнение обязательств контрагентами,
                        война за крупный актив)
                    </p>
                </div>

                <div class="offer">
                    <img class="offer__img" src="{% static "images/offer_6.png" %}" alt="">
                    <p class="offer__text">
                        Защита <br>
                        от недружественного<br>
                        поглощения
                    </p>
                </div>
            </div>

            <div class="offers__item">
                <div class="offer of7">
                    <img class="offer__img" src="{% static "images/offer_7.png" %}" alt="">
                    <p class="offer__text">
                        Розыск потенциально<br>
                        возвратных активов,<br>
                        которые есть<br>
                        в западных юрисдикциях
                    </p>
                </div>

                <div class="offer of8">
                    <img class="offer__img" src="{% static "images/offer_8.png" %}" alt="">
                    <p class="offer__text">
                        Налоговое<br>
                        консультирование<br>
                        физических лиц<br>
                        и организаций
                    </p>
                </div>

                <div class="offer of9">
                    <img class="offer__img" src="{% static "images/offer_9.png" %}" alt="">
                    <p class="offer__text">
                        Защита участников <br>
                        коммерческих отношений<br>
                        от уголовного<br>
                        преследования
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static "js/script.js" %}"></script>
</body>

</html>
