{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width">
    <title>Юргазэнерго</title>

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/menu_style.css" %}">
    <link rel="stylesheet" href="{% static "css/prakt_st.css" %}">

</head>

<body>
    <div class="menu">

        <img class="logo" src="{% static "images/logo.png" %}" alt="">

        <ul class="list">
            <li>
                <a class="list__item " href="{% url "index" %}">Главная</a>
            </li>
            <li>
                <a class="list__item active" href="{% url "praktika_page" %}">Практика</a>
            </li>
            <li>
                <a class="list__item" href="{% url "buro_page" %}">Наше бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "team_page" %}">Команда</a>
            </li>
            <li>
                <a class="list__item " href="{% url "news_page" %}">Новости Бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "contact_page" %}">Контакты</a>
            </li>
        </ul>

        <div class="menu__adres">
            <p> +7 (985) 784-96-72 <br>
                +7 (495) 363-19-48<br>
                info@urgazenergo.com<br>
                г. Москва ул. Садовая-Спасская,<br>
                д. 19/1, офис 3</p>
        </div>

        <p class="ooo">© АБ «Юргазэнерго», 2020</p>
    </div>

   <div class="burger">
        <div class="burger__inner">
            <div class="burger__item first__bar"></div>
            <div class="burger__item second__bar"></div>
            <div class="burger__item third__bar"></div>
        </div>
    </div>

    <section>
        <h1 class="section__title">
            Практика</h1>

        <div class="prakt__info">
            <div class="info__inner">
                <div class="info__title">
                    <h2> Заказчик отказался от исковых требований к Подрядчику по взысканию аванса, и признал встречные требования о выплате остатка суммы по Договору подряда </h2>
                </div>


                <p class="info__text">
                    <b>Команда проекта:</b><br>
                    адвокат, партнер <a href="{% url "KDV" %}" class="blue-link">Денис Красовитов</a>; юрист <a href="{% url "DKV" %}" class="blue-link">Кирилл Дроздов</a>.
                </p>

                <p class="info__text">
                    <b>Задача:</b> <br>
                    Верните аванс! — потребовал Заказчик по договору подряда от Подрядчика, и подал иск в суд. При этом Подрядчик все работы по договору подряда выполнил.<br>
	Подрядчик обратился к нам за помощью — нужно было доказать факт того, что аванс освоили и работы на сумму аванса были выполнены.<br>
	На первый взгляд, позиция Заказчика сильна: акты приема - передачи и документацию по спорным работам он утаил. <br>
	Подрядчик подписанных актов на руках не имел, и формально доказать их направление Заказчику не мог.

                </p>

                <p class="info__text"><b>Решение:</b> <br>
                    Мы досконально изучили проблему и разобрались в технических деталях спора, в документации и правилах делового оборота, которые сложились между участниками. <br>
	Команда Адвокатского бюро доказала, что Подрядчик выполнил все работы по Договору подряда, освоил аванс, который составлял половину цены Договора подряда.<br>
	После этого Подрядчик смог заявить встречное требование о выплате остатка суммы по Договору подряда. 

                </p>

                <p class="info__text"><b>Результат:<br></b>
                   Заказчик отказался от исковых требований по взысканию аванса, который составлял половину цены Договора подряда, и признал встречные требования Подрядчика о выплате остатка суммы по Договору подряда.
                </p>

            </div>

            
        </div>




    <script src="{% static "js/script.js" %}"></script>

    </section>
</body>

</html>
