{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width">
    <title>Юргазэнерго</title>

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/menu_style.css" %}">
    <link rel="stylesheet" href="{% static "css/prakt_st.css" %}">

</head>

<body>
    <div class="menu">

        <img class="logo" src="{% static "images/logo.png" %}" alt="">

        <ul class="list">
            <li>
                <a class="list__item " href="{% url "index" %}">Главная</a>
            </li>
            <li>
                <a class="list__item active" href="{% url "praktika_page" %}">Практика</a>
            </li>
            <li>
                <a class="list__item" href="{% url "buro_page" %}">Наше бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "team_page" %}">Команда</a>
            </li>
            <li>
                <a class="list__item " href="{% url "news_page" %}">Новости Бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "contact_page" %}">Контакты</a>
            </li>
        </ul>

        <div class="menu__adres">
            <p> +7 (985) 784-96-72 <br>
                +7 (495) 363-19-48<br>
                info@urgazenergo.com<br>
                г. Москва ул. Садовая-Спасская,<br>
                д. 19/1, офис 3</p>
        </div>

        <p class="ooo">© АБ «Юргазэнерго», 2020</p>
    </div>

   <div class="burger">
        <div class="burger__inner">
            <div class="burger__item first__bar"></div>
            <div class="burger__item second__bar"></div>
            <div class="burger__item third__bar"></div>
        </div>
    </div>

    <section>
        <h1 class="section__title">
            Практика</h1>

        <div class="prakt__info">
            <div class="info__inner">
                <div class="info__title">
                    <h2> Организация устояла в судах и спаслась от банкротства </h2>
                </div>


                <p class="info__text">
                    <b>Команда проекта:</b><br>
                    адвокат, партнер <a href="{% url "KDV" %}" class="blue-link">Денис Красовитов</a>; юрист <a href="{% url "DKV" %}" class="blue-link">Кирилл Дроздов</a>.
                </p>

                <p class="info__text">
                    <b>Задача:</b> <br>
                   К нам обратилась за помощью коммерческая компания.<br> 
	Ее плачевное финансовое состояние усугублялось перспективой значительного ухудшения: контрагент подал иск о взыскании денежных средств. Сумма иска превышала 200 миллионов рублей.<br>
	Переговоры о реструктуризации долга не привели к успеху. <br>
	Контрагент намеревался установить задолженность в судебном порядке и инициировать процедуру ее банкротства. Получение контрагентом исполнительных листов на взыскание было вопросом времени. <br>
	Чтобы выжить, компании необходима была отсрочка уплаты долга, которой контрагент не давал. Наша задача состояла в том, чтобы максимально увеличить сроки рассмотрения дела по иску контрагента. 


                </p>

                <p class="info__text"><b>Решение:</b> <br>
                  Процедура оформления и исполнения договора не вызывала никаких вопросов. Поэтому решение задачи представлялось нам сложным.<br> 
	Основной акцент был сделан не на борьбе с правовой позицией истца, а на юридическом крючкотворстве: только это могло спасти Доверителя от быстрого проигрыша. <br>
	Мы скрупулезно искали мельчайшие огрехи в каждом документе, каждом процессуальном шаге оппонента. <br>
	Все найденное старались использовать максимально, по сути «раздувая из мухи слона». Таким образом мы смогли протянуть рассмотрение дел в судах первой и апелляционной инстанции в течение полутора лет.<br>
	Когда после тяжелейшей судебной войны истец все же получил исполнительные листы, мы обратились в суд с заявлением об отсрочке и рассрочке исполнения решений на несколько лет и получили его. 
 
                </p>

                <p class="info__text"><b>Результат:<br></b>
                   Мы пришли в проект с перспективой инициирования банкротства Доверительа в течение 4-5 месяцев, а вышли из него через полтора года, после того как истец не смог обанкротить Доверителя. Благодаря нашим усилиям компания получила передышку, которая позволила отойти от края финансовой пропасти. 
                </p>

            </div>

            
        </div>




    <script src="{% static "js/script.js" %}"></script>

    </section>
</body>

</html>
