{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Юргазэнерго</title>

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/menu_style.css" %}">
    <link rel="stylesheet" href="{% static "css/prakt_st.css" %}">

</head>

<body>
    <div class="menu">

        <img class="logo" src="{% static "images/logo.png" %}" alt="">

        <ul class="list">
            <li>
                <a class="list__item " href="{% url "index" %}">Главная</a>
            </li>
            <li>
                <a class="list__item active" href="{% url "praktika_page" %}">Практика</a>
            </li>
            <li>
                <a class="list__item" href="{% url "buro_page" %}">Наше бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "team_page" %}">Команда</a>
            </li>
            <li>
                <a class="list__item " href="{% url "news_page" %}">Новости Бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "contact_page" %}">Контакты</a>
            </li>
        </ul>

        <div class="menu__adres">
            <p> +7 (985) 784-96-72 <br>
                +7 (495) 363-19-48<br>
                info@urgazenergo.com<br>
                г. Москва ул. Садовая-Спасская,<br>
                д. 19/1, офис 3</p>
        </div>

        <p class="ooo">© АБ «Юргазэнерго», 2020</p>
    </div>

    <div class="burger">
        <div class="burger__inner">
            <div class="burger__item first__bar"></div>
            <div class="burger__item second__bar"></div>
            <div class="burger__item third__bar"></div>
        </div>
    </div>

    <section>
        <h1 class="section__title">
            Практика</h1>

        <div class="prakt__info">
            <div class="info__inner">
                <div class="info__title">
                    <h2> Суд кассационной инстанции включил требования группы физических лиц - наших Доверителей, в реестр требований кредиторов Должника в деле о банкротстве</h2>
                </div>


                <p class="info__text">
                    <b>Команда проекта:</b><br>
                    адвокат, партнер
                    <a href="{% url "KDV" %}" class="blue-link">Денис Красовитов</a>;
                    юрист
                    <a href="{% url "DKV" %}" class="blue-link">Кирилл Дроздов</a>.
                </p>

                <p class="info__text">
                    <b>Задача:</b> <br>
                    К нам обратились физические лица, которые имели финансовые требования по возврату займа к коммерческой компании. <br>
                    Мы располагали информацией, что Должник намерен инициировать процедуру банкротства.<br>
                    Мы организовали судебные процессы в суде общей юрисдикции, что позволило подтвердить судебными актами требования физических лиц к компании — Должнику.<br>
                    Компания перешла в процедуру банкротства, но на тот момент наши Доверительы подтверждали свои требования судебными актами. Сумма займа каждого из кредиторов равна нескольким миллионам рублей.<br>
                    Конкурсный управляющий Должника возражал против включения требований и ссылался на то, что сделки между лицами и компанией — Должником были мнимыми.<br>
                    Суд первой инстанции поддержал позицию конкурсного управляющего Должника, и отказал включить требования лиц в реестр требований кредиторов Должника. При этом суд сослался на повышенный стандарт доказывания в делах о банкротстве, и указал, что факт выдачи займа должнику не подтвержден, договоры оформлены в отсутствие фактической передачи денежных средств и заключены для вида, без намерения реально передать должнику денежные средства.
                    Суд апелляции поддержал выводы суда первой инстанции по каждому из требований кредиторов.


                </p>

                <p class="info__text"><b>Решение:</b> <br>
                    Дело стало одним из практико-образующих в применении судами в делах о банкротстве принципа «обязательности судебного акта». Благодаря убедительной работе юридической команды в ходе всего процесса в судах трех инстанций удалось подтвердить позицию, что требования, которые кредитор подтверждает судебным актом, суд должен включить в реестр требований кредиторов Должника.

                </p>

                <p class="info__text"><b>Результат:<br></b>
                    Суд кассационной инстанции отменил судебные акты суда первой и апелляционной инстанций и включил требования кредиторов в реестр требований Должника.


                </p>

            </div>


        </div>



        <script src="{% static "js/script.js" %}"></script>

    </section>
</body>

</html>
