{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width">
    <title>Юргазэнерго</title>

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/menu_style.css" %}">
    <link rel="stylesheet" href="{% static "css/prakt_st.css" %}">

</head>

<body>
    <div class="menu">

        <img class="logo" src="{% static "images/logo.png" %}" alt="">

        <ul class="list">
            <li>
                <a class="list__item " href="{% url "index" %}">Главная</a>
            </li>
            <li>
                <a class="list__item active" href="{% url "praktika_page" %}">Практика</a>
            </li>
            <li>
                <a class="list__item" href="{% url "buro_page" %}">Наше бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "team_page" %}">Команда</a>
            </li>
            <li>
                <a class="list__item " href="{% url "news_page" %}">Новости Бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "contact_page" %}">Контакты</a>
            </li>
        </ul>

        <div class="menu__adres">
            <p> +7 (985) 784-96-72 <br>
                +7 (495) 363-19-48<br>
                info@urgazenergo.com<br>
                г. Москва ул. Садовая-Спасская,<br>
                д. 19/1, офис 3</p>
        </div>

        <p class="ooo">© АБ «Юргазэнерго», 2020</p>
    </div>

   <div class="burger">
        <div class="burger__inner">
            <div class="burger__item first__bar"></div>
            <div class="burger__item second__bar"></div>
            <div class="burger__item third__bar"></div>
        </div>
    </div>

    <section>
        <h1 class="section__title">
            Практика</h1>

        <div class="prakt__info">
            <div class="info__inner">
                <div class="info__title">
                    <h2> Информационное агентство и одна из сторон родственного спора успешно защитились от требований в деле о защите чести и достоинства</h2>
                </div>


                <p class="info__text">
                    <b>Команда проекта:</b><br>
					адвокат, партнер <a href="{% url "KDV" %}" class="blue-link">Денис Красовитов</a>;
					адвокат, партнер <a href="{% url "BSP" %}" class="blue-link">Сергей Прокофьевич Бугай</a>.
                </p>

                <p class="info__text">
                    <b>Задача:</b> <br>
                 После гибели супругов между их родственниками возник спор о праве быть опекунами детей.<br>
	Одно из крупнейших в России информационных агентств изложило в сети Интернет точку зрения каждой из сторон по родственному спору.<br>
	Одна из сторон родственного спора посчитала, что в статье изложены недостоверные сведения, которые порочат их честь и достоинство, и обратилась с исковым заявлением в суд.<br>
	В нашу задачу входило убедить суд, что требования истцов безосновательны. 



                </p>

                <p class="info__text"><b>Решение:</b> <br>
                  Спор, по мнению истцов, должен был закончится их победой.<br>
	Однако, самоуспокоенность истцов и их процессуальное поведение помогли нам применить весь комплекс процессуальных приемов.<br>	
	Мы скурпулезно работали с каждым доказательством как Доверителя, так и истца, сопоставили данные доказательства между собой, сформировали и представили в суд свою позицию. <br>
	Благодаря «бульдожьей» процессуальной работе и верно выбранной правовой позиции судебный процесс для истцов принял оборот, который они не ожидали.

                </p>

                <p class="info__text"><b>Результат:<br></b>
                  Несмотря на шаткую исходную позицию ответчиков, нам удалось достичь цели: суд отказал удовлетворить требования о защите чести и достоинства, которые заявляли истцы к информационному агентству и опекуну ребенка.
  
                </p>

            </div>

          
        </div>




    <script src="{% static "js/script.js" %}"></script>

    </section>
</body>

</html>
