<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Юргазэнерго</title>

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/menu_style.css" %}">
    <link rel="stylesheet" href="{% static "css/team_style.css" %}">
    <link rel="stylesheet" href="{% static "css/praktika_style.css" %}">

</head>




<body>
    <div class="menu">

        <img class="logo" src="{% static "images/logo.png" %}" alt="">

        <ul class="list">
            <li>
                <a class="list__item " href="{% url "index" %}">Главная</a>
            </li>
            <li>
                <a class="list__item" href="{% url "praktika_page" %}">Практика</a>
            </li>
            <li>
                <a class="list__item" href="{% url "buro_page" %}">Наше бюро</a>
            </li>
            <li>
                <a class="list__item active" href="{% url "team_page" %}">Команда</a>
            </li>
            <li>
                <a class="list__item " href="{% url "news_page" %}">Новости Бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "contact_page" %}">Контакты</a>
            </li>
        </ul>

        <div class="menu__adres">
            <p> +7 (985) 784-96-72 <br>
                +7 (495) 363-19-48<br>
                info@urgazenergo.com<br>
                г. Москва ул. Садовая-Спасская,<br>
                д. 19/1, офис 3</p>
        </div>

        <p class="ooo">© АБ «Юргазэнерго», 2020</p>
    </div>

    <div class="burger">
        <div class="burger__inner">
            <div class="burger__item first__bar"></div>
            <div class="burger__item second__bar"></div>
            <div class="burger__item third__bar"></div>
        </div>
    </div>

    <section>
        <h class="section__title">
            Команда<br>
            профессионалов<br>
            своего дела</h>

        <div class="person__info">
            <div class="info__inner">
                <div class="info__title">
                    <h2>
                        Чекан Елена Викторовна</h2>
                        <span class="gray">
                    <p class="info__text"> Руководитель проекта  АБ «Юргазэнерго» по защите персональных данных<br>

                        Помощник депктата государственной думы РФ (VII созыва) <br>
                        Постоянно действующий эксперт и спикер рабочих групп по образованию,<br> воспитанию и всестороннему развитию детей общсетвенного совета при<br> уполномоченном при президенте РФ по правам ребенка
                    </p>
                </span>


                    
                </div>

                <img class="info__img" src="{% static "images/team/f9.jpg" %}" alt="">
                <span class="gray">

                    <p class="info__text">
                        <b>Специализация:</b><br>
                        Защита интересов граждан РФ при автоматизированной <br> обработки их персональных данных
                    </p>
                    <p class="info__text">
                        <b>Образовательное учреждение:</b> <br>
                        Самарская Гуманитарная Академия, экономико-правовой факультет
                    </p>


                    <p class="info__text"><b>Опыт:<br></b>
                        Минэнерго России, отдел информационных технологий <br>
                        КБ «ЛОКО-Банк», юридическое сопровождение кредитных операций<br>
                        ООО «Правовой Гарант», руководитель проекта <br>
                        АБ «Юргазэнерго», руководитель проекта по защите персональных данных
                    </p>

                    <div class="contacts">
                        <div class="info__contact">
                            <p class="info__text contact__text">
                                <b>Контактная почта:</b><br>
                                <span class="blue-text">
                                    Echekan@urgazenergo.com</span>
                            </p>
                        </div>
                    </div>
                </span>
            </div>
        </div>

        <div class="section__items">
            <a class="section__link" href="{% url "pract_3" %}">
                <div class="section__item">
                    <p class="item__text">Спор о праве на производственные мощности</p>

                </div>
            </a>
        </div>


    </section>

    
    <script src="{% static "js/script.js" %}"></script>
</body>

</html>
