{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Юргазэнерго</title>

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/menu_style.css" %}">
    <link rel="stylesheet" href="{% static "css/prakt_st.css" %}">
</head>

<body>
    <div class="menu">

        <img class="logo" src="{% static "images/logo.png" %}" alt="">

        <ul class="list">
            <li>
                <a class="list__item " href="{% url "index" %}">Главная</a>
            </li>
            <li>
                <a class="list__item" href="{% url "praktika_page" %}">Практика</a>
            </li>
            <li>
                <a class="list__item" href="{% url "buro_page" %}">Наше бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "team_page" %}">Команда</a>
            </li>
            <li>
                <a class="list__item active" href="{% url "news_page" %}">Новости Бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "contact_page" %}">Контакты</a>
            </li>
        </ul>

        <div class="menu__adres">
            <p> +7 (985) 784-96-72 <br>
                +7 (495) 363-19-48<br>
                info@urgazenergo.com<br>
                г. Москва ул. Садовая-Спасская,<br>
                д. 19/1, офис 3</p>
        </div>

        <p class="ooo">© АБ «Юргазэнерго», 2020</p>
    </div>

    <div class="burger">
        <div class="burger__inner">
            <div class="burger__item first__bar"></div>
            <div class="burger__item second__bar"></div>
            <div class="burger__item third__bar"></div>
        </div>
    </div>

    <section>
        <h1 class="section__title">
            Новости</h1>

        <div class="prakt__info">
            <div class="info__inner">
                <div class="info__title"> Родительское Собрание России </div>
                    <p class="info__text">
                        15 ноября в конференц-зале гостиницы МОВЕНПИК (Mövenpick) в Москве состоялось большое Родительское Собрание России, посвященное возвращению традиционного образования. <br>
                        Организаторами выступили Элина Жгутова (РОО «Иван Чай») , Николай Мишустин (ОД «Родотпор») , Ольга Четверикова ( канд.ист наук, , доцент, член Союза Писателей России, директор Центра Геополитики Института фундаментальных и прикладных исследований МосГУ). <br>
                        В Собрании приняли участие:<br>
                        Денис Парфенов, депутат Госдумы;<br>
                        Роман Худяков, Президент Союза Профсоюзов России<br>
                        Елена Чекан, юрист адвокатского Бюро «ЮрГазЭнерго», помощник депутата Государственной Думы РФ VII созыва, постоянно действующий эксперт и спикер рабочих групп по образованию, воспитанию и всестороннему развитию детей Общественного совета при Уполномоченном при Президенте РФ по правам ребенка;<br>
                        Инна Коваленко, Инна Станиславовна, врач-гигиенист, эпидемиолог, педагог-психолог, эксперт координационного совета некоммерческих организаций России, руководитель комитета по обеспечению безопасности продукции для детей и подростков в Объединении Потребителей России;<br>
                        Борзакова С.Н., заведующая организационно-методическим отделом по педиатрии ГБУ «НИИОЗММ ДЗМ», доцент кафедры педиатрии с инфекционными болезнями у детей ФДПО ФГАОУ ВО «РНИМУ им. Н.И.Пирогова Минздрава России», к.м.н.
                        Майко Елена, Председатель РСОО «Берегиня»;
                        Гольцова Надежда, адвокат, юрист РОО «Иван Чай»;<br>
                        Акбаева Зарият Рамазановна, Председатель СО ООО Многонациональный родительский Комитет Председатель Союза НКО и активных граждан КЧР;
                        родители Воронежа, Нижнего Новгорода, Владимира,Самары и других регионов.<br>

                        Участники обсудили возможные варианты возвращения нормального традиционного образования для своих детей, т.к. за время, в течении которого школьники были переведены на дистанционное обучение, возникла масса проблем: <br>

                        — родителям приходится заменять во многом педагогов, контролировать детей, при этом они должны сами работать;<br>
                        — качество дистанционного обучения несопоставимо с традиционным;<br>
                        — дистанционное обучение доказано наносит вред физическому и психическому здоровью ребенка;<br>
                        — педагоги не готовы к такой форме передачи знаний;<br>
                        — не работает дополнительное образование: секции, кружки и т.д.<br>

                        Родительские активисты, ученые, эксперты со всех сторон обсудили проблему дистанционного обучения, поделились опытом противодействия, создали коалицию «Родительское Собрание России», выработали резолюцию, положения которой будут проводиться повсеместно в стране всеми участниками мероприятия.<br>
                        Резолюция будет направлена во все ведомства , причастные к принудительному введению дистанционного обучения.<br>
                        Текст резолюции читайте на сайте РОО «Иван Чай» ivan4.ru<br>

                        Выступление юриста АБ «ЮрГазЭнерго» можно посмотреть здесь: https://dropmefiles.com/L3qj3
                    </p>
                </div>
        </div>
    </section>

    <script src="{% static "js/script.js" %}"></script>
</body>

</html>
