{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Юргазэнерго</title>

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/menu_style.css" %}">
    <link rel="stylesheet" href="{% static "css/prakt_st.css" %}">
</head>

<body>
    <div class="menu">

        <img class="logo" src="{% static "images/logo.png" %}" alt="">

        <ul class="list">
            <li>
                <a class="list__item " href="{% url "index" %}">Главная</a>
            </li>
            <li>
                <a class="list__item" href="{% url "praktika_page" %}">Практика</a>
            </li>
            <li>
                <a class="list__item" href="{% url "buro_page" %}">Наше бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "team_page" %}">Команда</a>
            </li>
            <li>
                <a class="list__item active" href="{% url "news_page" %}">Новости Бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "contact_page" %}">Контакты</a>
            </li>
        </ul>

        <div class="menu__adres">
            <p> +7 (985) 784-96-72 <br>
                +7 (495) 363-19-48<br>
                info@urgazenergo.com<br>
                г. Москва ул. Садовая-Спасская,<br>
                д. 19/1, офис 3</p>
        </div>

        <p class="ooo">© АБ «Юргазэнерго», 2020</p>
    </div>

    <div class="burger">
        <div class="burger__inner">
            <div class="burger__item first__bar"></div>
            <div class="burger__item second__bar"></div>
            <div class="burger__item third__bar"></div>
        </div>
    </div>

    <section>
        <h1 class="section__title">
            Новости</h1>

        <div class="prakt__info">
            <div class="info__inner">
                <div class="info__title"> 17 октября 2019 г </div>
                <p class="info__text">
                    17 октября 2019 г. на телеканале «Красная Линия» состоялось обсуждение темы «Национальный проект цифровая экономика» с участием ведущих юристов, преподавателей, представителей парламентских партий, политологов. <br>

                    В ходе обсуждения эксперты сошлись во мнении, что повсеместное внедрение цифровизации может привести к тотальному контролю и вторжению в частную жизнь граждан. Было отмечено, что цифровизация способствует коррупционным заработкам чиновников, в т.ч. в сфере госзакупок.<br>

                    Все персональные данные, привязанные к электронному медицинскому полису ребёнка, могут незаконно «утечь» в интернет. Об этом в пресс-центре информационного агентства «Национальная Служба Новостей» заявила московский координатор общественного движения «РОДОТПОР.РФ» Елена Чекан. По её словам, законодательство не обязывает гражданина менять бумажный полис на электронный, а данные о здоровье детей могут стать «каталогом для незаконной трансплантологии».<br>

                    Кроме того, Чекан рекомендовала родителям не подписывать «не глядя» согласие на вмешательство в организм ребёнка, дающееся во время оформления медкарты. Общественники подчёркивают, что по закону это можно сделать непосредственно перед медицинской процедурой, во избежание нанесения вреда здоровью.<br>

                    «На моей практике был такой случай, когда мама ребёнка, у которого заболела десна, отказалась подписать согласие на вмешательство в организм. После чего её вызвали в органы опеки и даже в прокуратуру, заявив, что она отказывается лечить ребёнка», — заявила НСН Елена Чекан.<br>

                    Также эксперт рекомендовала родителям отказываться от услуг школьных психологов. По её мнению, рассказы ребёнка могут быть заведомо ложно интерпретированы, что может привести к изъятию его из семьи.<br>

                    Сегодня в российских городах отмечается Международный день защиты детей. Ранее член Совета Федерации Елена Мизулина заявила, что в прошлом году из семей в России навсегда забрали более 3,2 тысяч детей. По оценкам сенатора, в случае временного изъятия, то эти цифры больше в десятки раз. По мнению Мизулиной, ювенальную юстицию в стране необходимо упразднить.<br>

                    Е.В.Чекан НСН<br>

                    По материалам информационного агентства «Национальная Служба Новостей», https://nsn.fm/society/society-protivniki-yuvenalnoy-yusticii-prizvali-otkazatsya-ot-elektronnykh-medicinskikh-polyusov.


                </p>
            </div>
        </div>
    </section>

    <script src="{% static "js/script.js" %}"></script>
</body>

</html>
