{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Юргазэнерго</title>

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/menu_style.css" %}">
    <link rel="stylesheet" href="{% static "css/prakt_st.css" %}">
</head>

<body>
    <div class="menu">

        <img class="logo" src="{% static "images/logo.png" %}" alt="">

        <ul class="list">
            <li>
                <a class="list__item " href="{% url "index" %}">Главная</a>
            </li>
            <li>
                <a class="list__item" href="{% url "praktika_page" %}">Практика</a>
            </li>
            <li>
                <a class="list__item" href="{% url "buro_page" %}">Наше бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "team_page" %}">Команда</a>
            </li>
            <li>
                <a class="list__item active" href="{% url "news_page" %}">Новости Бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "contact_page" %}">Контакты</a>
            </li>
        </ul>

        <div class="menu__adres">
            <p> +7 (985) 784-96-72 <br>
                +7 (495) 363-19-48<br>
                info@urgazenergo.com<br>
                г. Москва ул. Садовая-Спасская,<br>
                д. 19/1, офис 3</p>
        </div>

        <p class="ooo">© АБ «Юргазэнерго», 2020</p>
    </div>

    <div class="burger">
        <div class="burger__inner">
            <div class="burger__item first__bar"></div>
            <div class="burger__item second__bar"></div>
            <div class="burger__item third__bar"></div>
        </div>
    </div>

    <section>
        <h1 class="section__title">
            Новости</h1>

        <div class="prakt__info">
            <div class="info__inner">
                <div class="info__title"> АДВОКАТЫ НАШЕГО БЮРО ЗАЩИЩАЮТ ДЕПУТАТА МОСГОРДУМЫ ОЛЕГА ШЕРЕМЕТЬЕВА. </div>
                <p class="info__text">
                    Адвокаты Козиков Д.Ю. и Бугай С.П. приняли участие в следственных действиях в качестве защитников депутата Мосгордумы Олега Шереметьева. По материалам газеты «Коммерсант», выпуск от 20 августа 2020 г.: <br>

                    Следственный комитет России по Москве возбудил уголовное дело в отношении депутата Мосгордумы от КПРФ Олега Шереметьева о мошенничестве в особо крупном размере (ч. 4 ст. 159 УК РФ). Средства перечислялись на карту помощника депутата в качестве премии, после чего господин Шереметьев присваивал деньги.<br>

                    По данным следствия, депутат с ноября 2019-го по февраль 2020 года каждый месяц представлял в аппарат Мосгордумы документы о премировании своего помощника на сумму от 350 тыс. до 600 тыс. руб. за выполнение им «заданий особой важности и сложности». «Своими действиями он причинил материальный ущерб бюджету Москвы в размере более 2 млн руб.»,— сообщили в СКР по Москве.<br>

                    В прокуратуре столицы установили, что деньги за вычетом налога поступали на дебетовую карту помощника депутата. Олег Шереметьев сказал помощнику, что эти средства нужно обналичивать и передавать ему, так как они положены «иным, официально не оформленным помощникам».
                </p>
            </div>
        </div>
    </section>

    <script src="{% static "js/script.js" %}"></script>
</body>

</html>
