{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Юргазэнерго</title>

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/menu_style.css" %}">
    <link rel="stylesheet" href="{% static "css/prakt_st.css" %}">
</head>

<body>
    <div class="menu">

        <img class="logo" src="{% static "images/logo.png" %}" alt="">

        <ul class="list">
            <li>
                <a class="list__item " href="{% url "index" %}">Главная</a>
            </li>
            <li>
                <a class="list__item" href="{% url "praktika_page" %}">Практика</a>
            </li>
            <li>
                <a class="list__item" href="{% url "buro_page" %}">Наше бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "team_page" %}">Команда</a>
            </li>
            <li>
                <a class="list__item active" href="{% url "news_page" %}">Новости Бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "contact_page" %}">Контакты</a>
            </li>
        </ul>

        <div class="menu__adres">
            <p> +7 (985) 784-96-72 <br>
                +7 (495) 363-19-48<br>
                info@urgazenergo.com<br>
                г. Москва ул. Садовая-Спасская,<br>
                д. 19/1, офис 3</p>
        </div>

        <p class="ooo">© АБ «Юргазэнерго», 2020</p>
    </div>

    <div class="burger">
        <div class="burger__inner">
            <div class="burger__item first__bar"></div>
            <div class="burger__item second__bar"></div>
            <div class="burger__item third__bar"></div>
        </div>
    </div>

    <section>
        <h1 class="section__title">
            Новости</h1>

        <div class="prakt__info">
            <div class="info__inner">
                <div class="info__title"> Волна несанкционированных митингов</div>
                <p class="info__text">
                    Волна несанкционированных митингов, захлестнувших в последнее время Россию, выявила в т.ч. практику задержания полицией детей, не имеющих к митингам и шествиям никакого отношения. В частности, Прокуратура г. Москвы признала ошибочными задержания подростков 27 июля 2019 г.: «В отношении 37 несовершеннолетних участие в несогласованной акции не подтвердилось» – написал заместитель начальника отдела по надзору за исполнением законов о несовершеннолетних московской прокуратуры А. Львович, в ответ на обращение уполномоченного по правам ребенка Е. Бунимовича, который указал « … полагаю, что не было достаточных оснований для задержания несовершеннолетних и применения к ним силы». <br>
                    Необходимо отметить, что согласно ст. 26.1 КоАП РФ по делу об административном правонарушении установление виновности предполагает получение доказательств непосредственной причастности лица к совершению противоправного действия (бездействия), то есть наличия объективной стороны деяния. Этот аспект зачастую не принимается во внимание Комиссиями по делам несовершеннолетних (КДН), в которые передаются дела подростков, задерживаемых во время митингов.<br>
                    К сожалению, привлечение невиновного подростка к административной ответственности вследствие незнания должностными лицами правовых норм или нежелания их выполнять, может дорого обойтись этим подросткам в их дальнейшей судьбе – при трудоустройстве, учебы и общественной жизни.
                    Учитывая данные аспекты и руководствуясь принципами соблюдения буквы закона, всестороннего и объективного рассмотрения всех обстоятельств дел об административных нарушения, адвокатам АБ «ЮрГазЭнерго» удалось доказать невиновность нескольких подростков после их задержании во время несанкционированных митингов в августе 2019 г. в гор. Москве.<br>

                    Юрист АБ «Юргазэнерго» <br>

                    Чекан Е.В.
                </p>
            </div>
        </div>
    </section>

    <script src="{% static "js/script.js" %}"></script>
</body>

</html>
