{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Юргазэнерго</title>

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/menu_style.css" %}">
    <link rel="stylesheet" href="{% static "css/prakt_st.css" %}">
</head>

<body>
    <div class="menu">

        <img class="logo" src="{% static "images/logo.png" %}" alt="">

        <ul class="list">
            <li>
                <a class="list__item " href="{% url "index" %}">Главная</a>
            </li>
            <li>
                <a class="list__item" href="{% url "praktika_page" %}">Практика</a>
            </li>
            <li>
                <a class="list__item" href="{% url "buro_page" %}">Наше бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "team_page" %}">Команда</a>
            </li>
            <li>
                <a class="list__item active" href="{% url "news_page" %}">Новости Бюро</a>
            </li>
            <li>
                <a class="list__item" href="{% url "contact_page" %}">Контакты</a>
            </li>
        </ul>

        <div class="menu__adres">
            <p> +7 (985) 784-96-72 <br>
                +7 (495) 363-19-48<br>
                info@urgazenergo.com<br>
                г. Москва ул. Садовая-Спасская,<br>
                д. 19/1, офис 3</p>
        </div>

        <p class="ooo">© АБ «Юргазэнерго», 2020</p>
    </div>

    <div class="burger">
        <div class="burger__inner">
            <div class="burger__item first__bar"></div>
            <div class="burger__item second__bar"></div>
            <div class="burger__item third__bar"></div>
        </div>
    </div>

    <section>
        <h1 class="section__title">
            Новости</h1>

        <div class="prakt__info">
            <div class="info__inner">
                <div class="info__title"> БЫВШЕГО ПРЕЗИДЕНТА «ГЛОБЭКСА» РАССУДИТ ТАГАНКА. ПОСЛЕ ЗАВЕРШЕНИЯ ОЗНАКОМЛЕНИЯ АДВОКАТ БАНКИРА СЕРГЕЙ БРОВЧЕНКО ОТМЕТИЛ, ЧТО В ДЕЛЕ ОТСУТСТВУЕТ САМО СОБЫТИЕ ПРЕСТУПЛЕНИЯ. </div>
                <p class="info__text">
                    Генпрокуратура утвердила обвинительное заключение по уголовному делу известного финансиста, бывшего президента банка «Глобэкс» Виталия Вавилина. Следственный комитет полагает, что господин Вавилин растратил средства кредитной организации в пользу структур Алексея Ананьева, объявленного в международный розыск. Защита банкира, который не признает свою вину, не раз указывала следствию на неполноту расследования, то, что не были учтены решения арбитражных судов и поспешные выводы, но ее аргументы услышаны не были. Дело по существу рассмотрит Таганский райсуд Москвы. <br>

                    Генпрокуратура утвердила обвинительное заключение по уголовному делу Виталия Вавилина, расследованному главным управлением по расследованию особо важных дел СКР. Экс-президенту банка «Глобэкс» инкриминируется растрата в особо крупном размере с использованием служебного положения (ч. 4 ст. 160 УК РФ). По версии следствия, господин Вавилин в целях хищения вверенных ему в силу занимаемой должности денежных средств привлек к совершению преступления фактического владельца ООО «ТехноСерв АС» и ООО «Техносерв Менеджмент» Алексея Ананьева, заинтересованного в получении для указанных компаний кредитов на выгодных условиях. <br>

                    Согласившись, господин Ананьев предоставил принадлежащие ему фирмы в качестве заемщиков, после чего было организовано выделение этим компаниям кредитных линий на общую сумму около €12,1 млн. В последующем соучастники обеспечили подписание незаконного, по версии следствия, соглашения об отступном, согласно которому обязательство по погашению основного долга перешли к частной компании с ограниченной ответственностью «Дельта Ауто групп лимитед», не способной его выполнить. Таким образом, решило следствие, господин Вавилин умышленными и незаконными действиями изменил условия кредитования ООО «ТехноСерв АС» и ООО «Техносерв Менеджмент», тем самым лишив банк возможности взыскать средства в счет возврата выданных кредитов.<br>

                    Виталий Вавилин, по версии следствия, «при пособничестве господина Ананьева обратил имущество «Глобэкс» в виде денег на сумму более 775,7 млн в рублевом эквиваленте в пользу подконтрольных организаций, и сообщники распорядились ими по своему усмотрению». Уголовное дело в отношении господина Ананьева выделено в отдельное производство — он заочно арестован Басманным райсудом и объявлен в международный розыск. Дело же господина Вавилина, который свою вину не признал, направлено Генпрокуратурой в Таганский райсуд Москвы для рассмотрения по существу.<br>

                    Адвокат банкира Сергей Бровченко подтвердил “Ъ” «окончание следственных действий», отметив, что его оповестили о передаче дела в суд. При этом, по его словам, защите пока не известно, где именно, а тем более когда пройдет разбирательство, так как из-за коронавируса многие процессы были приостановлены на неопределенное время. После завершения ознакомления, отметил защитник, обвиняемая сторона только убедилась в том, что в этом деле отсутствует само событие преступления. Защита ходатайствовала перед следствием о прекращении уголовного преследования господина Вавилина, но ей было отказано.<br>

                    Между тем, как отмечалось в ходатайстве адвокатов, вопреки выводам следствия соглашение между «Глобэксом» и ООО «ТехноСерв АС» от 26 февраля 2015 года «не освободило кредиторов от исполнения своих обязательств». Банку эта история не причинила ущерб, так как он с прибылью продал задолженность «ТехноСерва» ООО «УК Сибэнергомаш». Защита рассчитывает, что эти и другие аргументы теперь будут учтены судом.<br>

                    Николай Сергеев
                </p>
            </div>
        </div>
    </section>

    <script src="{% static "js/script.js" %}"></script>
</body>

</html>
