/* Обнуление стилей */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;

    font-family: Open Sans, sans-serif;
}

input,
button,
textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
}

a,
a:visited {
    text-decoration: none;


}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

section {
    display: flex;
    flex-direction: column;

    justify-content: center;

    margin-left: 295px;
    padding-top: 45px;

    text-align: center;

}

.section__title {
    font-family: Avro, sans-serif;
    line-height: normal;
    font-size: 34px;
}

/* Person__info */

.prakt__info {
    width: 865px;
    min-height: 500px;

    border-radius: 0 23px;
    border: 2px solid #e8e9ed;

    margin: 40px auto;
    position: relative;

}

.prakt__info:before {
    content: '';

    width: 14px;
    height: 31px;

    position: absolute;
    top: -1px;
    left: 18px;

    background: #10acdd;

}

.info__inner {
    margin: 51px 20px 35px 20px;
    position: relative;
    padding-top: 10px;

}

.info__title {
    text-align: left;

}

.info__title h2 {
    font-size: 19px;
    font-family: Avro, sans-serif;
    margin-bottom: 50px;
    font-weight: 500;
    color: #2b2b2b;
}


.info__text {
    text-align: justify;
    font-size: 14px;
    line-height: 1.6;
    color: #707070;
    margin-bottom: 30px;


}

.info__text b {
    text-align: left;
    font-size: 14px;

    color: #2b2b2b;
    margin-bottom: 30px;
}

.blue-link {
    color: #22aad4;

    text-decoration: underline;
}

.blue-link:hover{
    text-decoration: underline;
}

.strelOchka{
    position: absolute;

    bottom: -60px;
    left: 0;
}


@media (max-width: 901px){
    section{
        margin-left: 0;
    }
}

@media (max-width: 360px){
    .prakt__info{
        width: 100%;
    }
}

@media (max-width: 414px){
    .prakt__info{
        width: 100%;
    }
}















