/* Обнуление стилей */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;

    font-family: 'Open Sans', sans-serif;
}

input,
button,
textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/


/* SECTION */
section {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-left: 295px;
}

.section__title {
    color: #2b2b2b;

    font-family: 'Arvo', serif;
    font-size: 32px;

    margin-top: 45px;


}

.section__item {
    display: flex;
    justify-content: space-between;

    width: 840px;

    margin: 50px 0 50px 60px;
    ;
}

.item__title {
    font-family: 'Arvo', serif;
    display: flex;
}

.city {
    color: #2b2b2b;

    font-size: 30px;

    margin-right: 15px;
}

.country {
    color: #10acdd;

    font-size: 18px;

    margin-top: 11px;
}

.p_gray {
    color: #707070;

    font-size: 15px;

    margin-top: 40px;

    margin-bottom: 10px;
}

.p_adres {}


.item__img {
    margin-left: 35px;
}

.special {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*--------------------*/

@media (max-width: 901px) {
    section {
        margin-left: 0;
    }
}

@media (max-width: 360px) {
    .section__item {
        width: 100%;
        flex-wrap: wrap;
    }

    .item__img {
        display: none;
    }
}

@media (max-width: 414px) {}

@media (max-width: 731px) {
    .section__item {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .item__img {
        display: none;
    }
}

@media (max-width: 823px) {
    .section__item {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .item__img {
        display: none;
    }
}

@media (max-width: 1024px) {
    .section__item {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .item__img {
        margin-top: 20px;
    }
}
