/* Обнуление стилей */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;

    font-family: 'Open Sans', sans-serif;
}

input,
button,
textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/





/*  HEADER */
header {
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;

    height: 365px;
}

.header__title {
    font-family: 'Arvo', serif;
    color: #2b2b2b;
    font-size: 34px;

    margin-left: 300px;

    padding-left: 15px;

    position: absolute;
    left: 20px;
    bottom: 45px;

    line-height: 1.1;
}

.header__title::before {
    content: '';
    width: 5px;
    height: 110px;
    background: #2b2b2b;

    border-radius: 10px;

    position: absolute;
    left: 0px;
    top: 0px;
}

/*--------------------*/


/*  SECTION */
section {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-left: 295px;

    margin-top: 40px;
}

.section__title {
    font-family: 'Arvo', serif;
    font-size: 20px;

    margin-bottom: 40px;
}

.section__items {
    display: flex;
}

.section__text {
    display: flex;
    flex-direction: column;


}

.section__item {
    margin: 0px 15px 20px 25px;

    font-size: 15px;
    font-weight: 500;

    width: 100%;
    max-width: 415px;

    line-height: 1.475;

    color: #707070;
}

.special {
    background: #10acdd;

    padding: 25px 30px;

    color: #fff;
}

.section__item__span a {
    color: #10acdd;
    text-decoration: underline;
}

/*--------------------*/


/*  SECTION */
.footer__title {
    color: #2b2b2b;

    font-style: italic;
    font-weight: 600;

    margin: 45px 0 75px 0;
}

/*--------------------*/



/*--------------------*/
@media (max-width: 1183px) {
    section {
        margin-top: 20px;
    }

    .section__title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .section__items {
        flex-direction: column;
    }

    .section__item {
        width: auto;
        max-width: none;

        font-size: 20px;
    }

    .menu__adres p {
        font-size: 15px;
    }

    .ooo {
        font-size: 15px;
    }

}

@media (max-width: 900px) {
    section {
        margin-left: 0px;
    }

    .header__title{
        margin-left: 0;
    }

    .section__title{
        text-align: center;
    }

    .footer__title{
        text-align: center;
    }

}
