/* Обнуление стилей */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;

    font-family: 'Open Sans', sans-serif;
}

input,
button,
textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
}

a,
a:visited {
    text-decoration: none;


}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

/* Section */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 295px;
    padding-top: 45px;

    text-align: center;

}

.section__title {
    font-family: 'Arvo', sans-serif;
    line-height: normal;
    font-size: 34px;
}

/*--------------------*/

/* Team */
.team {
    display: flex;

    justify-content: center;

    position: relative;

    overflow: hidden;
}



.team-left {
    margin-top: 30px;
}

.person {
    display: flex;

    height: 92px;

    margin-left: 55px;

    font-family: 'Arvo', sans-serif;
    position: relative;
}



.person__img {
    height: 92px;
    width: 92px;
}

.person__title {
    margin: 27px 99px 13px 13px;

    text-align: left;
    font-weight: 700;
    font-size: 17px;
    line-height: normal;
}

#fedoseev {
    margin: 10px 0 47px 13px;
}

.person:hover .person__title {
    color: #00aee0;

    transition: color .2s linear;
}

.person a {
    color: #000;
}

.person__text {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-align: left;

    color: #707070;

    position: absolute;

    left: 105px;
    bottom: 0;
}

/*--------------------*/

/* Center */
.center {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 44px;

    margin-top: 69px;
}

.main {
    
    background-position: center center;

    background-size: cover;
    background-repeat: no-repeat;

    height: 1339px;
    width: 6px;

    position: relative;
}

.main_2014 {
    position: absolute;

    top: -12px;
    left: 50%;

    transform: translateX(-50%);
}

.main_2012 {
    margin: 90px 0 0 0;

    transform: translateX(-40%);
}

#img_2 {
    margin: 132px 0 0 0;
}

/*--------------------*/

/* Right */
.team-right {
    margin-top: 165px;
}

#person_1 {
    margin-bottom: 146px;
}

#person_2 {
    margin-bottom: 136px;
}

#person_3 {
    margin-bottom: 149px;
}

#person_4 {
    margin-bottom: 123px;
}

#person_5 {
    margin-bottom: 39px;
}

#person_6 {
    margin-bottom: 136px;
}

#person_7 {
    margin-bottom: 137px;
}

#person_8 {
    margin-bottom: 131px;
}

#person_9 {
    margin-bottom: 146px;
}

.Chekan_Solovih {
    margin: 0 0 0 16px;
}

/*--------------------*/

/* Footer */
.footer {
    width: 100%;

    position: absolute;
    bottom: 0px;
    left: 13px;
}

/*--------------------*/

/* Person__info */

.person__info {
    width: 865px;
    min-height: 669px;

    border-radius: 0 23px;
    border: 2px solid #e8e9ed;

    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}

.person__info:before {
    content: '';

    width: 14px;
    height: 31px;

    position: absolute;
    top: -1px;
    left: 18px;

    background: #10acdd;

}

.info__inner {
    margin: 51px 0 35px 20px;
    position: relative;

    padding-top: 10px;
}

.info__title {
    text-align: left;

}

.info__title h2 {
    font-size: 19px;

    margin-bottom: 30px;
    font-weight: 700;
}

.info__title p {
    font-size: 15px;

    margin-bottom: 40px;

    color: #707070;
}

.info__img {
    width: 181px;
    height: 277px;

    position: absolute;
    top: 0px;
    right: 42px;
}

.info__text {
    text-align: left;
    font-size: 14px;
    line-height: 1.6;

    margin-bottom: 30px;

    width: 75%;

}

/*--------------------*/

/* Contacts */
.contacts {
    display: flex;
}

.info__contact {
    position: relative;

    margin-top: 40px;
}

.contact__text {
    margin: 0 60px 35px 15px;
}

.contact__text:before {
    content: '';

    width: 4px;
    height: 42px;

    position: absolute;

    top: 0px;
    left: 0px;


    background: #10acdd;
}

.blue-text {
    color: #10acdd;
}

/*--------------------*/

/* Back */
.back {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    margin: 35px 0 40px 0;
}

.back__img {
    position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
}

.back__link {

    margin: 45%;
    transform: translateY(50%);

    color: #000;
    font-family: "Open Sans - Semibold";
    font-size: 13px;
}

.gray {
    color: #707070;
}

/*--------------------*/
@media (max-width: 1024px){
    section {
        margin-left: 0;
    }
}


@media (max-width: 900px) {
    section {
        margin-left: 0;
    }

    .team {
        flex-direction: column;
    }

    .center {
        display: none;
    }

    .person__title {
        margin: 0 0 0 16px;
    }

    #person_1,
    #person_2,
    #person_3,
    #person_4,
    #person_5,
    #person_6,
    #person_7,
    #person_8,
    #person_9 {
        margin-bottom: 50px;
    }

    .person {
        margin-left: 0;

    }

    .team-right {
        margin-top: 0;
    }
}

/*
@media (max-width: 360px){
    .person__info{
        width: 100%;
    }

    .info__img{
        display: none;
    }

    .contacts{
        flex-direction: column;
    }

    .back{
        display: none;
    }
}
*/

@media (max-width: 414px){
    .person__info{
        width: 100%;
    }

    .info__img{
        display: none;
    }

    .contacts{
        flex-direction: column;
    }

    .back{
        display: none;
    }
}

@media (max-width: 768px){
    .person__info{
        width: 100%;
    }

    .info__img{
        display: block;
    }
}

@media (max-width: 823px){
    .person__info{
        width: 100%;
    }

    .info__title{
        text-align: center;
    }

    .info__img{
        display: none;
    }
}






